
    <!-- Details 1 -->
    <div id="services" class="basic-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="text-container">
                        <h2>Hizmetlerimiz</h2>
                        <p> Kazandıran Marketim'de yüzlerce ürün ve bütün market ihtiyaçlarınızı uygun fiyata alabilir
                            ve satabilirsiniz. Soğuk zincir korunarak kapınıza kadar teslim edilen ürünlerden elde
                            ettiğiniz primler, her ay hesabınıza düzenli olarak yatırılır.</p>
                        <a class="btn-solid-reg" target="_blank" href="{{ site.urunler }}">ÜRÜN LİSTESİ</a>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-lg-6">
                    <div class="">
                        <img class="img-fluid hero-fg" src="images/sepet.jpg" alt="alternative">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-1 -->
    <!-- end of details 1 -->


    <!-- Details 2 -->
    <div class="basic-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="image-container ">
                        <img class="img-fluid" src="images/s2.png" alt="alternative">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
                <div class="col-lg-6">
                    <div class="text-container">
                        <h2>Neden biz?</h2>
                        <ul class="list-unstyled li-space-lg">
                            <li class="media">
                                <i class="fas fa-check"></i>
                                <div class="media-body">150 TL üzeri siparişlerde kargo ücretsiz</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i>
                                <div class="media-body">Her güne özel süper indirimli kampanyalar</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i>
                                <div class="media-body">Dilediğiniz her yerden, mobil veya web, hızlıca alışveriş yapın
                                </div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i>
                                <div class="media-body">
                                    14 gün içerisinde ücretsiz ve kolayca iade edebilirsiniz
                                </div>
                            </li>
                        </ul>
                        <a class="btn-solid-reg uye-ol" href="{{ site.reflink }}">HEMEN ÜYE OL</a>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-2 -->
    <!-- end of details 2 -->
