<!-- Pricing -->
<div id="pricing" class="cards-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Kazanç Sistemi</h2>
                <p class="p-heading p-large">1'den 3'e kadar kazanç periyodunu oluşturan sistemimiz ile evinizden
                    oldukça rahat bir şekilde kazanç elde edebilir, daha fazla gayret ile ana gelirinizi elde
                    edebilirsiniz.
                </p>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-lg-12">

                <!-- Card-->
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">BRONZ</div>
                        <hr class="cell-divide-hr">
                        <div class="price">
                            <img class="card-image" src="images/bronz.svg" alt="alternative">
                        </div>
                        <hr class="cell-divide-hr">
                        <div class="list-unstyled">Alınan primler baz alındığında 2000₺ prim kazanan bronz lider,
                            6000₺ prim kazanan bronz
                            müdür, 15.000₺ prim kazanan bronz direktör, 40.000₺ prim kazanan bronz koordinatör
                            ünvanı
                            alacaktır. Her üye ünvan alışında, o ünvana ilk eriştiği ay şirketten extra %25 ünvan
                            primi
                            alacaktır.</div>
                    </div>
                </div> <!-- end of card -->
                <!-- end of card -->

                <!-- Card-->
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">GÜMÜŞ</div>
                        <!-- <div class="card-subtitle">Very appropriate for the short term</div> -->
                        <hr class="cell-divide-hr">
                        <div class="price">
                            <img class="card-image" src="images/gumus.svg" alt="alternative">
                        </div>
                        <hr class="cell-divide-hr">

                        <div class="list-unstyled"> Alınan primler baz alındığında 3000₺ prim kazanan gümüş lider,
                            7000₺ prim kazanan gümüş
                            müdür,
                            20.000₺ prim kazanan gümüş direktör, 50.000₺ prim kazanan gümüş koordinatör ünvanı
                            alacaktır.
                            Her üye ünvan alışında, o ünvana ilk eriştiği ay şirketten extra %25 ünvan primi
                            alacaktır.</div>
                    </div>
                </div> <!-- end of card -->
                <!-- end of card -->

                <!-- Card-->
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">ALTIN</div>
                        <hr class="cell-divide-hr">
                        <div class="price">
                            <img class="card-image" src="images/altin.svg" alt="alternative">
                        </div>
                        <hr class="cell-divide-hr">
                        <div class="list-unstyled"> Alınan primler baz alındığında 4000₺ prim kazanan altın lider,
                            8000₺ prim kazanan altın müdür, 25.000₺ prim kazanan altın direktör, 60.000₺ prim
                            kazanan altın koordinatör ünvanı alacaktır. Her üye ünvan alışında, o ünvana ilk
                            eriştiği ay şirketten extra %25 ünvan primi alacaktır.</div>
                    </div>
                </div> <!-- end of card -->
                <!-- end of card -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of cards-2 -->
<!-- end of pricing -->