
<!-- Services -->
<div id="" class="cards-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Kendi İşinizi Kurun</h2>
                <p class="p-heading p-large">
                    Kazandıran Marketim, ürünlerinizi alırken kazanacağınız, kullanırken tasarruf edebileceğiniz,
                    satarken kazanç elde edeceğiniz, ekibinizle birlikte organizasyon kurup daha çok
                    kazanabileceğiniz, her şeyden önemlisi kendinizi geliştirebileceğiniz harika bir iş fırsatı
                    sunuyor.
                </p>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-lg-12">

                <!-- Card -->
                <div class="card">
                    <img class="card-image" src="images/gelir.svg" alt="alternative">
                    <div class="card-body">
                        <h4 class="card-title">Ek Gelir</h4>
                        <p>Her alt üyenizin siparişleri üzerinden ek gelir kazanabilirsiniz. </p>
                    </div>
                </div>
                <!-- end of card -->

                <!-- Card -->
                <div class="card">
                    <img class="card-image" src="images/uyelik.svg" alt="alternative">
                    <div class="card-body">
                        <h4 class="card-title">Ücretsiz Üyelik</h4>
                        <p> Kazandıran marketim sistemine ücretsiz bir şekilde üye olabilirsiniz.
                        </p>
                    </div>
                </div>
                <!-- end of card -->

                <!-- Card -->
                <div class="card">
                    <img class="card-image" src="images/tasarruf.svg" alt="alternative">
                    <div class="card-body">
                        <h4 class="card-title">Tasarruflu</h4>
                        <p> Ev ihtiyaçlarınızı daha uygun fiyatlarla ve aynı gün kargo ile satın
                            alabilirsiniz.</p>
                    </div>
                </div>
                <!-- end of card -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of cards-1 -->
<!-- end of services -->