<!DOCTYPE html>
<html lang="tr">

{% include head.html %}


<body data-spy="scroll" data-target=".fixed-top">

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NC5HVB9"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

    {% include preloader.html %}

    {% include navbar.html %}

    {% include header.html %}
    
    {%- include slider.html -%}

    {% include kendi-isini-kur.html %}

    {% include hizmetlerimiz.html %}
    
    {%- include lightbox.html -%}

    {%- include kazanc-sistemi.html -%}

    <!-- include video.html -->

    {% include recent-post.html %}

    {% include urunler.html %}

    <!--  include contact.html  -->

    {% include footer.html %}

</body>

</html>
