<!DOCTYPE html>
<html lang="tr">

{% include head.html %}


<body data-spy="scroll" data-target=".fixed-top">

    {% include preloader.html %}

    {% include navbar.html %}

    {% include header.html %}
    
    {%- include slider.html -%}

    {% include kendi-isini-kur.html %}

    {% include hizmetlerimiz.html %}
    
    {%- include lightbox.html -%}

    {%- include kazanc-sistemi.html -%}

    <!-- include video.html -->

    {% include recent-post.html %}

    {% include urunler.html %}

    <!--  include contact.html  -->

    {% include footer.html %}

</body>

</html>